<!DOCTYPE html>
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
    <title>ভাই-বোন মডেল স্কুল, বগুড়া</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/preschool/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/preschool/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/preschool/assets/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/preschool/assets/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="/preschool/assets/css/toaster.css">
    <link rel="stylesheet" type="text/css" href="/preschool/assets/css/style.css">
</head>
<body>
    <div class="main-wrapper" ng-app="teachApp" ng-controller="teacherCtrl" ng-cloak>
        <div class="content container-fluid m-t-15">
            <!-- <div class="page-header">
                <div class="row">
                    <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                        <h5 class="text-uppercase">add teacher</h5>
                    </div>
                    <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                        <ul class="list-inline breadcrumb float-right">
                            <li class="list-inline-item"><a href="index.html">Home</a></li>
                            <li class="list-inline-item"><a href="index.html">Teacher</a></li>
                            <li class="list-inline-item"> Add Teacher</li>
                        </ul>
                    </div>
                </div>
            </div> -->
            <div class="page-content">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <div class="page-title">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="page-title">basic information</div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <form name="teacherForm">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                            <form >
                                                <div class="form-group custom-mt-form-group">
                                                    <input type="text" ng-model="teach_data.firstname" required />
                                                    <label class="control-label">First Name</label><i class="bar"></i>
                                                    <p ng-show="teacherForm.firstname.$invalid && !teacherForm.firstname.$pristine" class="text-danger">First name is required</p>
                                                </div>
                                                <div class="form-group custom-mt-form-group">
                                                    <input type="text" ng-model="teach_data.email" />
                                                    <label class="control-label">Email</label><i class="bar"></i>
                                                </div>
                                                <!-- <div class="form-group custom-mt-form-group">
                                                    <input type="password" ng-model="teach_data.password" />
                                                    <label class="control-label">Password</label><i class="bar"></i>
                                                </div> -->
                                                <!-- <div class="form-group custom-mt-form-group">
                                                    <input type="text" ng-model="teach_data.subject" required />
                                                    <label class="control-label">subject</label><i class="bar"></i>
                                                </div> -->
                                                <div class="form-group custom-mt-form-group">
                                                    <select ng-model="teach_data.gender">
                                                        <option ng-repeat="g in gender" value="{{g.id}}">
                                                            {{g.name}}
                                                        </option>
                                                    </select>
                                                    <label class="control-label">Gender</label><i class="bar"></i>
                                                </div>
                                                <div class="form-group custom-mt-form-group">
                                                    <input class="datetimepicker" type="text" ng-model="teach_data.dateofbirth">
                                                    <label class="control-label">Birth Date</label><i class="bar"></i>
                                                </div>
                                                <div class="form-group custom-mt-form-group">
                                                    <!-- <input type="text" ng-model="teach_data.class" /> -->
                                                    <select ng-model="teach_data.class">
                                                        <option ng-repeat="c in class" value="{{c.id}}">
                                                            {{c.name}}
                                                        </option>
                                                    </select>
                                                    <label class="control-label">Class</label><i class="bar"></i>
                                                </div>
                                                <div class="form-group custom-mt-form-group">
                                                    <select ng-model="teach_data.subject_id">
                                                        <option ng-repeat="c in subject" value="{{c.id}}">
                                                            {{c.name}}
                                                        </option>
                                                    </select>
                                                    <label class="control-label">Subject</label><i class="bar"></i>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                            <form>
                                                <div class="form-group custom-mt-form-group">
                                                    <input type="text" ng-model="teach_data.lastname" required>
                                                    <label class="control-label">Last Name</label><i class="bar"></i>
                                                </div>
                                                <div class="form-group custom-mt-form-group">
                                                    <input class="form-control floating datetimepicker" type="text" ng-model="teach_data.joining_date" required>
                                                    <label class="control-label">Joining Date</label><i class="bar"></i>
                                                </div>
                                                <!-- <div class="form-group custom-mt-form-group">
                                                    <input type="password" ng-model="teach_data.confirm" />
                                                    <label class="control-label">Confirm Password</label><i class="bar"></i>
                                                </div> -->
                                                <div class="form-group custom-mt-form-group">
                                                    <input type="text" ng-model="teach_data.mobile" required />
                                                    <label class="control-label">Mobile number</label><i class="bar"></i>
                                                </div>
                                                <div class="form-group custom-mt-form-group">
                                                    <input type="text" ng-model="teach_data.teacher_id" required />
                                                    <label class="control-label">ID</label><i class="bar"></i>
                                                </div>
                                                <div class="form-group custom-mt-form-group">
                                                    <select ng-model="teach_data.section">
                                                        <option ng-repeat="c in section" value="{{c.id}}">
                                                            {{c.name}}
                                                        </option>
                                                    </select>
                                                    <label class="control-label">Section</label><i class="bar"></i>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                            <form>
                                                <div class="form-group">
                                                    <textarea id="message" class="form__field" placeholder="Premanent Address" rows="4" ng-model="teach_data.parmanent_address" required></textarea>
                                                    <label for="message" class="form-label">Premanent Address</label>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                            <form>
                                                <div class="form-group custom-mt-form-group">
                                                    <input type="file" name="pic" accept="image/*" style="margin-bottom:10px;">
                                                    <label class="control-label"></label><i class="bar"></i>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                            <form>
                                                <div class="form-group text-center custom-mt-form-group">
                                                    <button class="btn btn-primary mr-2" type="submit" ng-click="save_data()" ng-disabled="teacherForm.$invalid">{{(id > 0)? 'Update' : 'Save' }}</button>
                                                    <button class="btn btn-secondary" type="reset" ng-click="cancel_data()">Cancel</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script type="text/javascript" src="/preschool/assets/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/preschool/assets/js/angular.min.js"></script>
    <script type="text/javascript" src="/preschool/assets/js/popper.min.js"></script>
    <script type="text/javascript" src="/preschool/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/preschool/assets/js/jquery.slimscroll.js"></script>
    <script type="text/javascript" src="/preschool/assets/js/select2.min.js"></script>
    <script type="text/javascript" src="/preschool/assets/js/moment.min.js"></script>
    <script type="text/javascript" src="/preschool/assets/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="/preschool/assets/js/toaster.js"></script>
    <script type="text/javascript" src="/preschool/assets/js/app.js"></script>
    <script type="text/javascript">
        var app = angular.module("teachApp", []);
        app.controller("teacherCtrl", function ($scope, $http) {
            $scope.id = getURLParameter('id');
            var url = "../php/teacher_data_service.php?service=";
            $scope.gender = [ 
                { name: 'Male', id: 1 },  
                { name: 'Female', id: 2 },  
                { name: 'Others', id: 3 } 
            ]; 
            $scope.class = [ 
                { name: 'Play', id: 1 },  
                { name: 'KG-ONE', id: 2 },  
                { name: 'KG-TWO', id: 3 } 
            ];
            $scope.subject = [ 
                { name: 'Bangla', id: 1 },  
                { name: 'English', id: 2 },  
                { name: 'Math', id: 3 } 
            ];
            $scope.section = [ 
                { name: 'A', id: 1 },  
                { name: 'B', id: 2 },  
                { name: 'C', id: 3 } 
            ];
            $scope.teach_data = {
                id:0,
                firstname: 'firstname',
                lastname: 'lastname',
                email: 'email',
                password: 'password',
                subject: 'subject',
                mobile: '1234',
                gender: 1,
                subject_id: '1',
                class: '1',
                section: '1',
                parmanent_address: 'ssfb',
                dateofbirth: '01/01/2020',
                joining_date: '01/01/2020',
                teacher_id: '',
            };
            if($scope.id > 0){
                $http.get(url+"get_teacher_details&id="+$scope.id).success(function(data){
                    $scope.teach_data = data;
                });
            }
            $scope.save_data = function () {
                $.ajax({
                    url: url + "save_teacher_data",
                    type: "POST",
                    dataType: "json",
                    data: "data=[" + JSON.stringify($scope.teach_data) + "]",
                    success: function (response) {
                        if (response == null) {
                            if($scope.teach_data.id == 0){
                                show_err_msg("Teacher information save was unsuccessful.");
                            }else{
                                show_err_msg("Teacher information update was unsuccessful.");
                            }
                        } else {
                            if($scope.teach_data.id == 0){
                                show_success_msg("Teacher information has been succefully saved.");
                            }else{
                                show_success_msg("Teacher information has been succefully updated.");
                            }
                        }
                    }
                });
            }
        })
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "preventDuplicates": false,
            "positionClass": "toast-bottom-right",
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": 5000,
            "extendedTimeOut": 0,
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut",
            "tapToDismiss": false
        };
        function show_success_msg(msg) {
            toastr.options.positionClass = "toast-bottom-right";
            toastr.options.progressBar = true;
            toastr.options.timeOut = 3000;
            toastr.success(msg);
        }
        function show_err_msg(msg) {
            toastr.options.positionClass = "toast-bottom-right";
            toastr.options.timeOut = 3000;
            toastr.error(msg);
        }
        function getURLParameter(name) {
            return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search) || [, ""])[1].replace(/\+/g, '%20')) || null
        }
    </script>
</body>
</html>