<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
    <title>ভাই-বোন মডেল স্কুল, বগুড়া</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/preschool/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/preschool/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/preschool/assets/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/preschool/assets/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/preschool/assets/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="/preschool/assets/css/toaster.css">
    <link rel="stylesheet" type="text/css" href="/preschool/assets/css/style.css">
</head>
<body ng-app="teachListApp" ng-controller="teachListCtrl" ng-cloak>

    <div class="main-wrapper">
        <div class="content container-fluid m-t-15">
            <div class="row">
                <div class="col-sm-4 col-3"></div>
                <div class="col-sm-8 col-9 text-right m-b-5">
                    <a href="pages/add-teacher.html" class="btn btn-primary float-right btn-rounded"><i class="fa fa-plus"></i> Add Teacher</a>
                </div>
            </div>
            <div class="content-page">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table datatable="ng" dt-options="vm.dtOptions" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>SL.</th>
                                        <th>Name</th>
                                        <th>Teacher ID</th>
                                        <th>Gender</th>
                                        <th>Address</th>
                                        <th>Date of Birth</th>
                                        <th>Email</th>
                                        <th>Mobile</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="t in teachers">
                                        <td>{{ $index + 1 }}</td>
                                        <td>
                                            <a href="profile.html" class="avatar">{{t.firstletter}}</a>
                                                <h2><a href="profile.html">{{t.firstname}} {{t.lastname}} <span>(Maths)</span></a></h2>
                                        </td>
                                        <td>{{ t.teacher_id }}</td>
                                        <td>{{t.gender}}</td>
                                        <td>{{t.parmanent_address}}</td>
                                        <td>{{t.dateofbirth}}</td>
                                        <td>{{t.email}}</td>
                                        <td>{{t.mobile}}</td>
                                        <td class="text-right">
                                            <button class="btn btn-primary btn-sm mb-1" ng-click="edit_teacher(t)">
                                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                            </button>
                                            <button type="submit" data-toggle="modal" ng-click="delete_teacher(t)" class="btn btn-danger btn-sm mb-1">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="delete_employee" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Delete Employee</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure want to delete this?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white pull-left" ng-click="close_delete_modal()">Close</button>
                        <button type="button" class="btn btn-danger" ng-click="confirm_delete()">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/preschool/assets/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/preschool/assets/js/angular.min.js"></script>
    <script type="text/javascript" src="/preschool/assets/js/popper.min.js"></script>
    <script type="text/javascript" src="/preschool/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/preschool/assets/js/angular-datatables.min.js"></script>
    <script type="text/javascript" src="/preschool/assets/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/preschool/assets/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="/preschool/assets/js/jquery.slimscroll.js"></script>
    <script type="text/javascript" src="/preschool/assets/js/select2.min.js"></script>
    <script type="text/javascript" src="/preschool/assets/js/moment.min.js"></script>
    <script type="text/javascript" src="/preschool/assets/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="/preschool/assets/js/toaster.js"></script>
    <script type="text/javascript" src="/preschool/assets/js/app.js"></script>
    <script type="text/javascript">
        var app = angular.module("teachListApp", ["datatables"]);
        app.controller("teachListCtrl", function ($scope, $http) {
            $scope.teachers = [];
            $scope.deleted_teacher_info = {};
            var url = "php/teacher_data_service.php?service=";
            $scope.read_teacher_data = function(){
                $http.get(url+"get_teacher_data&take=all&skip=0&col_name=all").success(function(data, status, headers, config){
                    $scope.teachers = data.records;
                });
            }
            $scope.read_teacher_data();
            $scope.edit_teacher = function(t){
                location.href= "add-teacher.html?id="+t.id;
            }
            $scope.delete_teacher = function(t){
                $scope.deleted_teacher_info = t;
                $('#delete_employee').modal('show');
            }
            $scope.confirm_delete = function(){
                $.ajax({
                    url: url + "delete_teacher_data",
                    type: "GET",
                    dataType: "json",
                    data: "id=" + JSON.stringify($scope.deleted_teacher_info.id) + "",
                    success: function(response) {
                        $scope.deleted_id = 0;
                        if (response == 'success') {
                            show_success_msg("Teacher data has been deleted successfully.");
                        } else {
                            show_err_msg("Teacher data deletion was unsuccessful.");
                        }
                        $scope.close_delete_modal();
                        $scope.read_teacher_data();
                    }
                });
            }
            $scope.close_delete_modal = function(){
                $scope.deleted_teacher_info = {};
                $('#delete_employee').modal('hide');
            }
        })
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "preventDuplicates": false,
            "positionClass": "toast-bottom-right",
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": 5000,
            "extendedTimeOut": 0,
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut",
            "tapToDismiss": false
        };
        function show_success_msg(msg) {
            toastr.options.positionClass = "toast-bottom-right";
            toastr.options.progressBar = true;
            toastr.options.timeOut = 3000;
            toastr.success(msg);
        }
        function show_err_msg(msg) {
            toastr.options.positionClass = "toast-bottom-right";
            toastr.options.timeOut = 3000;
            toastr.error(msg);
        }
        function getURLParameter(name) {
            return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search) || [, ""])[1].replace(/\+/g, '%20')) || null
        }
    </script>
</body>
</html>